<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
</head>

<body>
    <h1>Bem vindo!</h1>
    <p>Olá,</p>
    <p>Seja bem vindo(a) à fila de acesso antecipado.</p>
    <p>Seu email cadastrado é: {{email}}</p>
    <p>Atenciosamente,<br>Equipe</p>
</body>

</html>